  <table border="1">
    <tr>
      <th> First Name </th>
      <th> Last Name</th>
      <th> Country</th>
      <th> Major</th>
      <th> Entry</th>
      <th> Modify</th>
      <th> Delete</th>
    </tr>

<!--
    <tr *ngFor="let student of students">
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.country}}</td>
      <td>{{student.major}}</td>
      <td>{{student.entry}}</td>
      <td>
        <a href="/api/student">Edit</a>
      </td>
      <td>
        <a href="/api/student">Delete</a>
      </td>
    </tr>
    -->
    
</table>